doctype html
html(lang='en')
  head
    title Chat Realtime
    mata(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='css/style.css', rel='stylesheet')
    script(src='javascripts/jquery.min.js')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    script(src='javascripts/main.js')
  body
    .container-fluid
      .row
        table.table.table-hover
          tr
            th id room
            th name user
            th telephone
            th question
            th name admin
          tr 
            td 15624
            td a 
            td 0297978465
            td xxxxxxxxxxxxxxxxxx
            td ABC

    
    script(src='javascripts/bootstrap.min.js')
