extends layout

block body
  body
    .container
      .row
        span#back.glyphicon.glyphicon-chevron-left
        h1#name_user= data.username
      .row
        .col-md-12
          .row
            #conver.col-md-12
          .row
            .col-lg-12
            form#chat-form(action="")
              .input-group
                input#msg.form-control(type='text', placeholder='Type here ...' required)
                span.input-group-btn
                  button#send.btn.btn-primary(type='submit') send

    
    script(src='javascripts/bootstrap.min.js')
