doctype html
html(lang='en')
  head
    //- display:inline
    title Chat Realtime
    mata(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='css/style.css', rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(rel="import", href="javascripts/require.html")
    script(src='javascripts/main.js')
  body
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#')
              img(src='https://www.oohoo.io/assets/images/logo.png' height="40px" style="margin-left:40px;")
      .row
        p(style="max-width:230px;display: block;margin: auto;margin-bottom:18px;")
          b 
            span กรุณากรอกข้อมูลก่อนเริ่มสนทนาค่ะ
        form#login(action="/chat")
          .form-group
            label
              b Username
                span *
            input#user_name.form-control(type='text', placeholder='Enter your name' required)
          .form-group  
            label
              b E-mail  
                span *
            input#user_email.form-control(type='email', placeholder='Enter your e-mail' required)
          .form-group
            label
              b Phone Number
                span *
            input#user_name.form-control(type='text', placeholder='Enter your phone number' required)
          .form-group
            label
              b Question
                span *
            input#user_qus.form-control(type='text', placeholder='Enter your question' required)
          button#chat_now.btn.btn-primary(type='submit') Chat Now
      
    
        
    script(src='javascripts/bootstrap.min.js')
